<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AskPupkin</title>

    <link rel="apple-touch-icon" href="https://cdn.sstatic.net/Sites/stackoverflow/Img/apple-touch-icon.png?v=c78bd457575a">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!--    <link rel="stylesheet" href="index0.css">-->
    <link rel="stylesheet" href="/static/core/css/index3.css">

</head>
<body>



    <!-- Display Navigation Bar goes HERE  -->
    <div class="top-orange-line fixed-top"></div>
    <nav class="navbar navbar-light sticky-top navbar-expand-lg py-md-0" style="background-color: #fafafb; border-bottom: 15px solid; border-image: linear-gradient(to bottom, #e7e7e7, #fbfbfb, #ffffff, #ffffff) 100% 0%">
        <!-- container-fluid navbar-wrapper margin -->
        <div class="container-fluid navbar-wrapper margin">


            <div class="collapse navbar-collapse">
                <form class="form-group form-inline">
                    <a class="navbar-brand bg-light" style="font-size: 20px;" href="#">
                        <img src="https://cdn.sstatic.net/Sites/stackoverflow/Img/apple-touch-icon.png?v=c78bd457575a" alt="" width="50" height="50">
                        <span style="font-weight: 300">stack</span>
                        <span style="font-weight: bold; margin-right: 10px">overflow</span>
                    </a>
                </form>
                <form class="form-group form-inline">
                    <button type="button" class="btn btn-light btn-sm mx-1" style="border-radius: 25px;">About</button>
                    <button type="button" class="btn btn-light btn-sm mx-1" style="border-radius: 25px;">Products</button>
                    <button type="button" class="btn btn-light btn-sm ml-1 mr-4" style="border-radius: 25px;">For Teams</button>
                </form>

                <!--<span class="navbar-text">-->
                <!--    Navbar text with an inline element-->
                <!--</span>-->

                <form class="form-group form-inline">
                    <input class="form-control" list="searchOptions" id="dropdownMenuSearch" placeholder="Search...">
                    <datalist id="searchOptions">
                        <option value="Python">
                        <option value="Ruby">
                        <option value="JavaScript">
                        <option value="css">
                        <option value="bash">
                    </datalist>
                </form>

                <form class="form-group form-inline">
                    <button type="button" class="btn btn-md btn-outline-primary ml-3 mr-1">Log in</button>
                </form>
                <form class="form-group form-inline">
                    <button type="button" class="btn btn-md btn-primary">Sign up</button>
                </form>
            </div>
        </div>
    </nav>

    <!--    <form>-->
    <!--        <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>-->
    <!--            <input type="number" id="number" value="0" />-->
    <!--        <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value">+</div>-->
    <!--    </form>-->

    <!-- container-fluid main-wrapper page-text margin -->
    <main class="container-fluid main-wrapper page-text margin">

        <div class="row">

            <!-- Display Navigation Slide Bar goes HERE  -->
            <div class="container__row__sidebar col-md-1">
                <!--                <ul class="nav flex-column">-->
                <!--                    <li class="nav-item">-->
                <!--                    <a class="nav-link active" href="#">Home</a>-->
                <!--                    </li>-->
                <!--                    <li class="nav-item">-->
                <!--                    <a class="nav-link" href="#">PUBLIC</a>-->
                <!--                    </li>-->
                <!--                    <li class="nav-item">-->
                <!--                    <a class="nav-link" href="#">FIND A JOB</a>-->
                <!--                    </li>-->
                <!--                    <li class="nav-item">-->
                <!--                    <a class="nav-link disabled" href="#">Disabled</a>-->
                <!--                    </li>-->
                <!--                </ul>-->
            </div>


            <!-- Display Comments goes HERE  -->
            <div class="col-md-8">
                <div class="grey-line row">
                    <!-- Display Avatar goes HERE  -->
                    <div class="col-md-2">
                        <div>
                            <img class="container__row__content__avatar_container__avatar large_avatar" src="/static/core/img/naturalarch_3360x2100.jpg">
                        </div>

                        <!-- Display Spinner Container goes HERE  -->
                        <div class="container row">
                            <div class="col-md-6">
                                <form class="form-inline input-group input-group-sm">
                                    <!-- <input type="number" id="number" value="0" />-->
                                    <input type="number" id="number1" value="9" class="form-control pt-3 pb-3 my-0 mx-0" style="width: 25px; height: 40px" placeholder=""/>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <div class="btn-group-vertical d-grid gap-2">
                                    <button id="increase1" onclick="increaseValue('number1')" class="btn btn-sm btn-sm__vs btn-primary rounded-circle my-0 mx-0 px-0 py-0" type="button">+</button>
                                    <button id="decrease1" onclick="decreaseValue('number1')" class="btn btn-sm btn-sm__vs btn-primary rounded-circle my-0 mx-0 px-0 py-0" type="button">-</button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Display Comment Text goes HERE  -->
                    <div class="col-md-10 container__row__sidebar__underline_a">
                        <h2>How to build a moon park?</h2>
                        <p>
                            Principal threats to any Moon base are solar and cosmic radiation, micro-meteorites and extreme temperatures. To counter those threats Irishman Aidan Cowley is working at EAC on using the lunar soil itself to build protective domes.

                            “One of the ideas we had is could you potentially use this material to 3D print a habitat structure or a building element on the Moon, and we think you can,” he says. “Our concept is that a rover would land on the surface of the Moon. It would inflate this inflatable dome or bladder-like system, and then around that the rovers would begin to construct a dome that would provide the protection for the astronauts inside the dome.”
                        </p>
                        <p>Tags:
                            <a href="#" class="">black-jack</a>
                            <a href="#" class="">bender</a>
                        </p>
                    </div>

                </div>
                <div class="comment-frame row">
                    <div class="col-md-2">
                        <div>
                            <img class="container__row__content__avatar_container__avatar medium_avatar" src="/static/core/img/space_yellow.jpg">
                        </div>

                        <!-- Display Spinner Container goes HERE  -->
                        <div class="container row">
                            <div class="col-md-6">
                                <form class="form-inline input-group input-group-sm">
                                    <input type="number" id="number2" value="5" class="form-control pt-3 pb-3 my-0 mx-0" style="width: 25px; height: 40px" placeholder=""/>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <div class="btn-group-vertical d-grid gap-2">
                                    <button id="increase2" onclick="increaseValue('number2')" class="btn btn-sm btn-sm__vs btn-primary rounded-circle my-0 mx-0 px-0 py-0" type="button">+</button>
                                    <button id="decrease2" onclick="decreaseValue('number2')" class="btn btn-sm btn-sm__vs btn-primary rounded-circle my-0 mx-0 px-0 py-0" type="button">-</button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Display Comment Text goes HERE  -->
                    <div class="container__content__middle_row__content col-md-10">
                        <p>
                            The idea is to see how the astronaut interacts with the base station, and how the spectrometer on the group’s mock-up lunar lander identifies minerals that could be useful for building and sustaining a Moon base.
                        </p>
                    </div>

                </div>
                <div class="comment-frame row">
                    <div class="col-md-2">
                        <div>
                            <img class="container__row__content__avatar_container__avatar medium_avatar" src="/static/core/img/space_blue.jpg">
                        </div>

                        <!-- Display Spinner Container goes HERE  -->
                        <div class="container row">
                            <div class="col-md-6">
                                <form class="form-inline input-group input-group-sm">
                                    <input type="number" id="number3" value="0" class="form-control pt-3 pb-3 my-0 mx-0" style="width: 25px; height: 40px" placeholder=""/>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <div class="btn-group-vertical d-grid gap-2">
                                    <button id="increase3" onclick="increaseValue('number3')" class="btn btn-sm btn-sm__vs btn-primary rounded-circle my-0 mx-0 px-0 py-0" type="button">+</button>
                                    <button id="decrease3" onclick="decreaseValue('number3')" class="btn btn-sm btn-sm__vs btn-primary rounded-circle my-0 mx-0 px-0 py-0" type="button">-</button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Display Comment Text goes HERE  -->
                    <div class="container__content__middle_row__content col-md-10">
                        <p>
                            It could be 20 years before technology is ready to make it happen, but ESA is not alone in this. The Chinese are planning a lunar rock sample return mission, Russia is developing a robotic lander with ESA support, and NASA’s Orion capsule with an ESA service module should fly around the Moon before 2020.
                        </p>
                    </div>

                </div>
                <div class="grey-line"></div>
                <div class="">
                    <textarea class="comment-input-box" placeholder=" Your answer here ..."></textarea>
                    <br><input type="submit" value="Post Your Answer">
                </div>
            </div>


            <!-- Display Side Bar goes HERE  -->
            <div class="container__row__sidebar col-md-3">
                <div class="container__row__sidebar__tags_a">
                    <h4>Popular Tags</h4>
                    <div>
                    <a href="#">coursera</a>
                    <a href="#">python</a>
                    </div>
                    <div>
                    <a href="#">mysql</a>
                    <a href="#">django</a>
                    </div>
                </div>
                <div class="container__row__sidebar__underline_a">
                    <h4>Best Members</h4>
                    <div><a href="#">Mr. Freeman</a></div>
                    <div><a href="#">Dr. House</a></div>
                    <div><a href="#">Bender</a></div>
                    <div><a href="#">Queen Victoria</a></div>
                </div>
            </div>


        </div>
    </main>




    <!--    <div class="col-md-1">-->
    <!--        <label for="exampleColorInput" class="form-label">Color picker</label>-->
    <!--        <input type="color" class="form-control form-control-color" id="exampleColorInput" value="#563d7c" title="Choose your color">-->
    <!--    </div>-->



    <div style="background-color: #fafafb; border-bottom: 15px solid; border-image: linear-gradient(to top, #e7e7e7, #fbfbfb, #ffffff, #ffffff) 100% 0%"></div>
    <div class="container">
        <div class="row col">
            <div class="col-md-12" style="font-size: 20px;">
                <span class="top_bar__title2">Join Stack Overflow</span>
                <span class="top_bar__title1 mr-4">to learn, share knowledge, and build your career.</span>
                <button type="button" class="btn btn-md btn-outline-primary">GitHub</button>
                <button type="button" class="btn btn-md btn-outline-primary">FaceBook</button>
                <button type="button" class="btn btn-md btn-black">Google</button>
                <button type="button" class="btn btn-md btn-primary">EMail</button>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <!--    $('.clickMe').click(function(){-->
    <!--    alert(this.id);-->
    <!--    });-->
    <!--    var $button = $(this);-->
    <!--    alert(this.id);-->
    <script>

        function increaseValue(fun_id) {
            var value = parseInt(document.getElementById(fun_id).value, 10);
            value = isNaN(value) ? 0 : value;
            value++;
            document.getElementById(fun_id).value = value;
        }

        function decreaseValue(fun_id) {
            var value = parseInt(document.getElementById(fun_id).value, 10);
            value = isNaN(value) ? 0 : value;
            value < 1 ? value = 1 : '';
            value--;
            document.getElementById(fun_id).value = value;
        }
    </script>

</body>
</html>